<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">CLINICA</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/doctors">Doctores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/patients">Pacientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/appointments">Citas</a>
      </li>
    </ul>
  </nav>
